{% extends 'public_main.twig' %}

  {% block styles %}
      <link rel="stylesheet" href="/libs/fontawesome/fontawesome.css">
  {% endblock %}

{% block pageTitle %}{{ anime_info.ru_name }} смотреть аниме в высоком качестве{% endblock %}

{% block content %}
    <div class="page-content__column">
        <div class="anime-item">
            <div class="anime-item__header">
                <div class="anime-item__header-title">
                    <span>{{ anime_info.ru_name }}</span>
                </div>
                <div class="anime-item__header-score">
                    <div class="anime-item__header-score__score">
                        <span>{{ anime_info.score }}</span>
                    </div>
                    <div class="anime-item__header-score__controls">
                        <div class="controls__up">
                            <i class="fas fa-sort-down"></i>
                        </div>
                        <div class="controls__down">
                            <i class="fas fa-sort-down"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="anime-item__player-wrap">
                {% if anime_info.type is same as('Сериал') %}
                    <div class="anime-item__player-episodes__wrap">
                        {% for episod in range(1,anime_info.episodes) %}
                            <div class="anime-item__player-episodes__item">
                                {{ episod }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="anime-item__player-player"></div>
            </div>
            <div class="anime-item__info-wrap">
                <img src="/assets/images/animebg.svg" alt="" class="info-wrap_bg">
                <div class="anime-item__info-info anime-info">
                    <div class="anime-info__head-info">
                        <div class="anime-info__image">
                            <img src="https://shikimori.one/{{ anime_info.photo }}" alt="">
                        </div>
                        <div class="anime-info__additional">

                            <div class="anime-info__additional-row">
                                <div class="anime-info__title">
                                    <span>{{ anime_info.ru_name }}</span>
                                </div>
                            </div>

                            <div class="anime-info__additional-row">
                                <div class="anime-info__status">
                                    <span>Статус:</span>
                                    <span>{{ anime_info.status }}</span>
                                </div>
                            </div>

                            <div class="anime-info__additional-row">
                                <div class="anime-info__studio">
                                    <span>Студия:</span>
                                    <span>{{ anime_info.studios }}</span>
                                </div>
                            </div>

                            <div class="anime-info__additional-row">
                                <div class="anime-info__genres">
                                    <span>Жанр:</span>
                                    <span>{{ anime_info.genres }}</span>
                                </div>
                            </div>

                            <div class="anime-info__additional-row">
                                <div class="anime-info__type">
                                    <span>Тип:</span>
                                    <span>{{ anime_info.type }}</span>
                                </div>
                            </div>

                            {% if anime_info.type is not same as('Полнометражный фильм') %}
                                <div class="anime-info__additional-row">
                                    <div class="anime-info__episodes">
                                        <span>Серий:</span>
                                        <span>{{ anime_info.episodes }}</span>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="anime-info__additional-row">
                                <div class="anime-info__year">
                                    <span>Год:</span>
                                    <span>{{ anime_info.aired_on }}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="anime-info__body-info">
                        <div class="anime-info__description">
                            <p>{{ anime_info.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/index.js"></script>
    <script src="/libs/fontawesome/source/js/all.min.js"></script>
{% endblock %}